.card{
  margin-right: 0px 10px;
  padding: 10px;
}

input {
  overflow: visible;
  margin-top: 15px;
  width: 50%;
}
.btn{
  margin-top: 10px;
  display: flex;
}

.addtodo{
  margin-top: 10px;
}
.comp{
  color: rgb(36, 155, 60);
  font-weight: bold;
  margin-top: -50px;
  text-align: end;
}